h1 {
    font-size: 90px;
    font-family: "EB Garamond", serif;
    line-height: 1.1; /* Adjust as needed for spacing */
    font-weight: bold;
}

h2 {
    font-size: 60px;
    font-family: "EB Garamond", serif;
    line-height: 1.2;
    font-weight: bold;
}

h3 {
    font-size: 32px;
    line-height: 1.3;
    font-family: "EB Garamond", serif;
    font-weight: bold;
}

h4 {
    font-family: "EB Garamond", serif;
    font-size: 24px;
    line-height: 1.3;
    font-weight: bold;
}
